<div id="image-container">
  {% for image in collections.images | slice(0, 12) %}
    <img src="{{ image.url }}" alt="{{ image.data.alt }}">
  {% endfor %}
</div>
<div id="loading" style="display: none;">Loading...</div>

<script>
  // Embed the total number of images in a script tag
  window.totalImages = {{ collections.images | length }};
</script>
<script src="/js/infinite-scroll.js"></script>
